body {
  font-family: 'Droid Sans TV', helvetica, arial;
}

#playerDiv {
  margin-bottom: 25px;
}

#title {
  font-size: 1.5em;
  width: 640px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#player {
  float: left;
  display: none;
}

#controlDiv {
  clear: left;
  width: 640px;
}

#seekDiv {
  float: left;
}

#playPauseDiv {
  position: absolute;
  left: 310px;
}

#volumeDiv {
  float: right;
}

#volume {
  width: 100px;
}

svg[disabled=false] {
  cursor: pointer;
  fill: black;
}

svg[disabled=true] {
  cursor: auto;
  fill: #DDD;
}

// aab's original css
#q { font-size: 16px; width: 300px; color:#555;}


div.resultContainer {
	width: 700px;
}

div.resultContainer div.result {
	clear:both;
	font-size: 17px;
}

div#suggestionResults .result { width:450px; }

div#suggestions div.heading {border-bottom: 1px dotted gray; margin-bottom: .5em;}
div#suggestionResults .result .meta { color: #000066;  }
div#suggestionResults .result .track { font-size: 17px;  }
div#suggestionResults .result .artist { font-size: 12px; }
div#suggestionResults .result .actions { font-size: 15px; margin-top:5px; color: #692200;}
div#suggestionResults img { float:left; margin: 3px; }

small {font-size: 11px;}

img.albumArt {float:left;}
img#albumCover { position:absolute; right: 10px; top:40px;  z-index: -999;}

div#search {  margin-bottom: 1em; width: 500px;}

div#description { font-size: 15px; margin-bottom: 1em; color: #666;}
div#about {position:absolute; bottom:0px; right: 10px; width:250px; font-size: 10px; text-align:right; color: #777;}
img#logo {position:absolute; top:10px; right:15px;}

a.github { background-image: url(https://a248.e.akamai.net/assets.github.com/img/e6bef7a091f5f3138b8cd40bc3e114258dd68ddf/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67); background-position: 0 0; background-repeat: no-repeat; display: block; width: 150px; height: 150px; overflow: hidden; position: absolute; text-indent: -9999px; right: 0; top: 0px; }
